#menu{
	padding: 7px;
}

label{
	font-size: 14px;
}

#inputDificuldade, #inputPontos{
	background-color: white;
}

section{
	position: absolute;
	left: 28px;
	height: 550px;
	width: 1300px;
	border-color: black;
	border-style: solid;
}

#jogador1, #jogador2{
	background-color: black;
	width: 20px;
	height: 250px;
	position: relative;
	top: 125px;
	float: left;
}

#jogador2{
	left: 20px;
}


#jogador1{
	left: 10px;
}

#bola{
	background-color: black;
	border-radius: 50%;
	height: 30px;
	width: 30px;
	position: relative;
	top: 250px;
	left: 600px;
}