body{
    background: rgb(107, 107, 241); /* Cor de fundo */
    font: normal/* Estilo */ 15pt/* Tamanho */ Arial; /* Fonte do conteúdo */
}

header{
    color: white; /* Cor do conteúdo */
    text-align: center; /* Alinha textos */
}

section{
    background: white;
    border-radius: 10px; /* Borda */
    padding: 15px; /* Espaço em volta do elemento */
    width: 500px; /* Largura */
    margin: auto; /* Margem (nãe entendi) */
    box-shadow: 5px/* Alinhamento horizontal*/ 5px/* Alinhamento vertical */ 10px/* Tamanho */ rgba(0, 0, 0, 0.363); /* Sombra */
}

div{
    padding: 8px;
}

footer{
    color: white;
    text-align: center;
    font-style: italic; /* Estilo da Fonte do conteúdo */
}
