body{
    background: rgb(107, 107, 241);
    font: normal 10pt Arial;
}

header{
    color: white;
    font-size: 15pt;
    text-align: center;
}

section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto; /* Fez o section fica centralizado */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
}

select{
    width: 200px;
}

footer{
    color: white;
    font-size: 15pt;
    padding: 10px;
    text-align: center;
}