body{
    background: rgb(107, 107, 241);
    font: normal 15pt Arial;
}

header{
    color: write;
    text-align: center;
}

section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
}
div{
    text-align: center;
    padding: 8px;
}

footer{
    color: write;
    text-align: center;
    font-style: italic;
}